// *************************************
//
//   grid 
//   -> grid system
//
// *************************************

.row:before, .row:after {
  content: "";
  display: table;
}
.row:after {
  clear: both;
}


// ----- Grid System Basic Settings ----- //
@for $_grid-i from 1 through $grid-col {
  .col-#{$_grid-i}, 
  .col-wp-#{$_grid-i}, 
  .col-wm-#{$_grid-i} {
    position: relative;
    float: left;
    box-sizing: border-box;
  }
  // .col-padding {
  //   padding-left: $grid-gutter;
  //   padding-right: $grid-gutter;
  // }
  // @include bp(pad) {
  //   .col-wp-padding {
  //     padding-left: $grid-gutter;
  //     padding-right: $grid-gutter;
  //   }
  // }
  // @include bp(mobile) {
  //   .col-wm-padding {
  //     padding-left: $grid-gutter;
  //     padding-right: $grid-gutter;
  //   }
  // }
}

// ----- Col Common ----- //

@for $_grid-i from 1 through $grid-col {
  .col-#{$_grid-i} {
    width: ($_grid-i / $grid-col) * 100%;
  }
}

// ----- Col for pad(land) ----- //

@for $_grid-i from 1 through $grid-col {
  @include bp(pad-land) {
    .col-wp-#{$_grid-i} {
      width: ($_grid-i / $grid-col) * 100%;
    }
  }
}

// ----- Col for phone(land) ----- //

@for $_grid-i from 1 through $grid-col {
  @include bp(phone-land) {
    .col-wm-#{$_grid-i} {
      width: ($_grid-i / $grid-col) * 100%;
    }
  }
}
