// *************************************
//
//   grid 
//   -> grid system
//
// *************************************

.row {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

[class*="col"] {
  position: relative;
  flex: 1;
  box-sizing: border-box;
  
  // No Wrapping
  &[class*="-noWrap"]{
    flex-wrap: nowrap;
  }
 
  // Horizontal alignment
  &[class*="-center"]{
    justify-content: center;
  }

  &[class*="-right"]{
    justify-content: flex-end;
    align-self: flex-end;
    margin-left: auto;
  }

  // stretch
  &[class*="-stretch"] {
    align-items:stretch;
  }

  // padding
  &[class*="-padding"] {
    padding: 0 8px;
  }
}

// Grid Common
@include makeGrid($grid-name);

// Column Common
@include makeCol($col-name);