// *************************************
//
//   variables
//   -> variables setting
//
// *************************************

// -------------------------------------
//   color
// -------------------------------------

// ----- palette ----- //

// white & black
$c-black:                  #0a0a0a !default;
$c-gray-dark:              lighten(#000, 20%) !default; // 333333
$c-gray:                   lighten(#000, 33%) !default; // 545454
$c-gray-light:             lighten(#000, 60%) !default; // 999999
$c-white:                  #fefefe !default;

// main color
$c-brand:                  #4ACDD9 !default; // rgb-blue
$c-primary:                #A5F27E !default; // rgb-green
$c-secondary:              #F26868 !default; // rgb-red


// ----- default ----- //

// text
$c-text:                   $c-gray-dark !default; // 文字主色
$c-sub-text:               $c-gray !default;

// section
$c-section:                $c-white !default;
$c-section-gray:           darken($c-white, 3%) !default;


// ----- component ----- //

// nav
$nav-link:                 $c-text !default;
$nav-link-hover:           $c-brand !default;


// -------------------------------------
//   font size
// -------------------------------------

$font-size-small:          13px !default;
$font-size-base:           16px !default;
$font-size-large:          21px !default;


// -------------------------------------
//   grid
// -------------------------------------

$grid-col:                 12 !default;


// -------------------------------------
//   Responsive (Breakpoint, Media queries)
// -------------------------------------

$bp: (
  "desktopHD":             1440px,
  "desktop":               1280px,  
  "pad-land":              1024px,
  "pad-middle":            800px,
  "pad-portrait":          768px,
  "phone-land":            667px,
  "phone-middle":          480px,
  "phone-portrait":        320px
);


// -------------------------------------
//   Z-index
// -------------------------------------

// ex: z-index: z(module, upper)/z(head)...
$z-layers: (
  "mask":                 10010,
  "popup":                9000,
  "fix":                  100,
  "head":                 99,
  "nav-head":             9,
  "module": (
    "upper":              7,
    "base":               5,
    "lower":              3
  ),
  "default":              1,
  "below":                -1,
  "hidden":               -9000
);