// *************************************
//
//   about pages
//
// *************************************

// -------------------------------------
//   cv 
// -------------------------------------

.cv-section {
  display: flex;
  margin: 0 auto;
  padding: 24px 16px;
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box;
  line-height: 1.6;
  &:last-of-type {
    margin-bottom: 24px;
  }
  &__title {
    flex: 0 0 160px;
    font-size: 18px;
    font-weight: 700;
    text-align: right;
  }
  &__content {
    flex: 1 1 auto;
    padding: 0 0 0 64px;
    font-size: 18px;
    font-weight: 300;
    color: lighten($c-black, 40%);
    > ul > li {
      margin-bottom: 8px;
    }
  }

  @include bp(desktop) {
    max-width: 1080px;
  }
  @include bp(pad-middle) {
    flex-direction:column;
    &__title {
      flex: 0 0 auto;
      margin-bottom: 8px;
      text-align: left;
      font-size: 24px;
    }
    &__content {
      flex: 0 0 auto;
      padding: 0;
    }
  }
}

// -------------------------------------
//   company
// -------------------------------------

.co-list {
  & > li + li {
    margin-bottom: 4px;
  }
}
.co-title.co-title {
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: 700;
  color: $c-black;
}

.co-info {
  font-size: 16px;
  color: darken($c-gray-light, 15%);
  & > a, & > span {
    vertical-align: middle;
  }
  & > a {
    color: darken($c-brand, 20%);
    transition: color 200ms ease-in;
    &:hover {
      color: $c-brand;
      text-decoration: none;
    }
  }
}

.co-date.co-date {
  margin-bottom: 16px;
  font-size: 13px;
  font-style: italic;
  color: $c-gray-light;
  &:last-of-type {
    margin-bottom: 0;
  }
}