// *************************************
//
//   portfolio
//
// *************************************

.project-box {
  margin: 0 !important;
  padding: 0 !important;
  border-radius: 4px;
  .fancybox-close-small {
    top: 14px;
    right: 12px;
  }
}

.port-header {
  display: flex;
  padding: 12px;
  > .port-desc {
    display: flex;
    margin: 0 0 0 32px;
    align-items: center;
    font-size: 24px;
  }
}

.port-content {
  text-align: center;
  > img  {
    display: inline-block;
    margin: 0 auto;
    // width: 100%;
    max-width: 1200px;
    vertical-align: middle;
  }
  &__info {
    padding: 16px 0;
    font-size: $font-size-base;
    color: $c-gray-dark;
  }
  &__subtile {
    padding: 32px 0 16px;
    font-size: $font-size-large;
    font-weight: 600;
  }
}

.port-footer {}