extends basic

block background
  .hero-bg
    <svg class="hero-bg__inner">
      <g>
        <path d="M1217.6874,772.666232 L1145.69289,844.660746 L1073.28925,772.25711 L1145.28377,700.262596 L1217.6874,772.666232 Z" id="方框2" stroke="#F7F7F7" stroke-width="15" fill="none"></path>
      </g>
      <g>
        <path d="M429.512711,-35.3553391 L894.380762,429.512711 L429.512711,894.380762 L-35.3553391,429.512711 L429.512711,-35.3553391 Z" id="方框1" stroke="#F7F7F7" stroke-width="50" fill="none"></path>
      </g>
      <g transform="translate(0.1, 0.1)">
        <polygon id="正方形1" fill="#4ACDD9" points="1127.59798 451 1167.19596 490.59798 1127.59798 530.195959 1088 490.59798"></polygon>
      </g>
      <g>
        <polygon id="Polygon-1" fill="#F26868" points="1358.07125 635.074567 1340.60707 666.580782 1322.05397 635.703251"></polygon>
      </g>
    </svg>
block head-title
  h1 Better design, <br>Better experiences.

block content