extends basic

block background
  .hero-bg
    <svg class="hero-bg__inner">
      <g>
        <polygon id="正方形1" fill="#4ACDD9" points="1270.59798 465 1310.19596 504.59798 1270.59798 544.195959 1231 504.59798"></polygon>
      </g>
      <g>
        <path d="M1500.66623,554.312597 L1572.66075,626.30711 L1500.25711,698.710746 L1428.2626,626.716233 L1500.66623,554.312597 Z" id="方框2" stroke="#F7F7F7" stroke-width="15" fill="none"></path>
      </g>
      <g>
        <path d="M923.5,-20.7132034 L1230.7132,286.5 L923.5,593.713203 L616.286797,286.5 L923.5,-20.7132034 Z" id="方框3" stroke="#F7F7F7" stroke-width="30" fill="none"></path>
      </g>
      <g>
        <path d="M94.9459595,482.928932 L196.267027,584.25 L94.9459595,685.571068 L-6.37510832,584.25 L94.9459595,482.928932 Z" id="方框4" stroke="#F7F7F7" stroke-width="10" fill="none"></path>
      </g>
      <g>
        <polygon id="Polygon-1" fill="#F26868" points="578.017272 642.438765 560.553092 673.94498 542 643.067449"></polygon>
      </g>
    </svg>
block head-title
  h1 Better design, <br>Better experiences.

block content
  section