doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible",content="IE=edge,chrome=1")
    // mobile use
    meta(name="viewport", content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, width=device-width")
    // mobile use end
    meta(name="apple-mobile-web-app-capable",content="yes")
    title EvanWu - Product Designer
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700", rel="stylesheet")
    link(href="./css/basic.css", rel="stylesheet")
    block css
    

  body
    .wrapper
      header.header
        .header__inner
          a.logo-link(href="index.html")
            .logo
              img(src="../img/logo.svg")
          ul.nav.nav--header
            li.nav__item
              a.nav__link(href="index.html") works
            li.nav__item
              a.nav__link(href="about.html") about
            li.nav__item
              a.nav__link(href="https://dribbble.com/evanwu_tw" target="_blank")
                i.fab.fa-dribbble
            li.nav__item
              a.nav__link(href="https://www.behance.net/evan_wu" target="_blank")
                i.fab.fa-behance
            li.nav__item
              a.nav__link(href="https://linkedin.com/in/evan-wu-tw" target="_blank")
                i.fab.fa-linkedin-in
      .hero
        block background
        .hero__inner
          .hero-title
            block head-title
          .hero-sub-title
            block head-sub-title
      // content
      block content
      footer.footer
        .footer__inner
          ul.nav.nav--center
            li.nav__item
              a.nav__link(href="index.html") works
            li.nav__item
              a.nav__link(href="about.html") about
            li.nav__item
              a.nav__link(href="https://dribbble.com/evanwu_tw" target="_blank")
                i.fab.fa-dribbble
            li.nav__item
              a.nav__link(href="https://www.behance.net/evan_wu" target="_blank")
                i.fab.fa-behance
            li.nav__item
              a.nav__link(href="https://linkedin.com/in/evan-wu-tw" target="_blank")
                i.fab.fa-linkedin-in
          .copyright © 2018 Evan Wu | All Rights Reserved

      script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
      script(defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous")
      
      script(src="./js/public.js")
      block script