extends basic

block background
  .hero-bg
    <svg class="square-line-1" width="980px" height="980px" viewBox="0 0 980 980" version="1.1">
      <g id="Desktop" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Artboard-3" transform="translate(-99.000000, -151.000000)" stroke="#F7F7F7" stroke-width="50">
          <path d="M588.512711,175.644661 L1053.38076,640.512711 L588.512711,1105.38076 L123.644661,640.512711 L588.512711,175.644661 Z" id="方框1"></path>
        </g>
      </g>
    </svg>
    <svg class="square-line-2" width="167px" height="167px" viewBox="0 0 167 167" version="1.1">
      <g id="Desktop" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Artboard-3" transform="translate(-1221.000000, -900.000000)" stroke="#F7F7F7" stroke-width="15">
          <path d="M1376.79155,983.797034 L1304.79703,1055.79155 L1232.3934,983.387911 L1304.38791,911.393398 L1376.79155,983.797034 Z" id="方框2"></path>
        </g>
      </g>
    </svg>
    <svg class="square" width="80px" height="80px" viewBox="0 0 80 80" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <g id="Desktop" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Artboard-3" transform="translate(-1247.000000, -662.000000)" fill="#4ACDD9">
          <polygon id="正方形1" points="1286.59798 662 1326.19596 701.59798 1286.59798 741.195959 1247 701.59798"></polygon>
        </g>
      </g>
    </svg>
    <svg class="triangle" width="36px" height="32px" viewBox="0 0 36 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g id="Desktop" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Artboard-3" transform="translate(-1481.000000, -846.000000)" fill="#F26868">
          <polygon id="Polygon-1" points="1517.01727 846.438765 1499.55309 877.94498 1481 847.067449"></polygon>
        </g>
      </g>
    </svg>
block head-title
  h1 Evan Wu
  p Web & UI Designer

block head-sub-title
  h3 Better design, better experiences.

block content
  section.section.gray
    .section__inner
      .section-title SERVICE SPECTRUM
      .section-content
        .row.row-stretch
          .col-4.col-pd-p-12
            .service
              img.service-img(src="../img/application.svg")
              h3.service-title 
                |Web Applications
              p.service-content
                |I’ll fixed visual impact, and united products and user, design and experiences.
          .col-4.col-pd-p-12
            .service
              img.service-img(src="../img/rwd.svg")
              h3.service-title
                |RWD & Mobile web
              p.service-content
                |Used techincal of RWD or mobile web to integrate cross device experiences.           
          .col-4.col-pd-p-12
            .service
              img.service-img(src="../img/edit.svg")
              h3.service-title
                |Front-End Development
              p.service-content
                |I can develop your product from visual concept to production.      
  section.section
    .section__inner
      .section-title THE PROJECTS
      .section-content
        .row
          .col-4.col-pd-p-12
            .poster
              a.poster-link
                .poster-photo
                  img(src="http://fakeimg.pl/800x600", alt="")
                .poster-info 作品介紹以及文案相關位置
          .col-4.col-pd-p-12
            .poster
              a.poster-link
                .poster-photo
                  img(src="http://fakeimg.pl/800x600", alt="")
                .poster-info 作品介紹以及文案相關位置
          .col-4.col-pd-p-12
            .poster
              a.poster-link
                .poster-photo
                  img(src="http://fakeimg.pl/800x600", alt="")
                .poster-info 作品介紹以及文案相關位置
          .col-4.col-pd-p-12
            .poster
              a.poster-link
                .poster-photo
                  img(src="http://fakeimg.pl/800x600", alt="")
                .poster-info 作品介紹以及文案相關位置            
          .col-4.col-pd-p-12
            .poster
              a.poster-link
                .poster-photo
                  img(src="http://fakeimg.pl/800x600", alt="")
                .poster-info 作品介紹以及文案相關位置
          .col-4.col-pd-p-12
            .poster
              a.poster-link
                .poster-photo
                  img(src="http://fakeimg.pl/800x600", alt="")
                .poster-info 作品介紹以及文案相關位置
