extends basic

block background

block head-title
  h1 Evan Wu
  p Web & UI Designer

block head-sub-title
  h3 Better design, better experiences.

block content
  section.section.gray
    .section-inner
      .section-title SERVICE SPECTRUM
      .section-content
        .row
          .col-4
            .service
              img.service-img(src="../img/application.svg")
              h3.service-title 
                |Web Applications
              p.service-content
                |I’ll fixed visual impact,<br/> and united products and user,<br/> design and experiences.
          .col-4
            .service
              img.service-img(src="../img/rwd.svg")
              h3.service-title
                |RWD & Mobile web
              p.service-content
                |Used techincal of RWD<br/> or mobile web to integrate cross device experiences.           
          .col-4
            .service
              img.service-img(src="../img/edit.svg")
              h3.service-title
                |Front-End Development
              p.service-content
                |I can develop your product<br/> from visual concept to production.      
  section.section
    .section-inner    
      .section-title THE PROJECTS
      .section-content
        .row
          .col-4
            .poster
              a.poster-link
          .col-4
            .poster
          .col-4
            .poster
          .col-4
            .poster
          .col-4
            .poster
          .col-4
            .poster
