extends _basic

block background
  .hero-bg
    div(class="parallax-container" data-depth="1")
      svg(class="square-line-1 square-line-1--index" width="710px" height="710px" viewBox="0 0 710 710")
        g(stroke="none" stroke-width="1" fill="none" fill-rule="evenodd")
          g(transform="translate(-169.000000, -191.000000)" stroke="#F7F7F7" stroke-width="50")
            path(d="M194,216 L854,216 L854,876 L194,876 L194,216 Z" id="方框1")
    div(class="parallax-container" data-depth="0.8")
      svg(class="square-line-2 square-line-2--index" width="119px" height="119px" viewBox="0 0 119 119")
        g(stroke="none" stroke-width="1" fill="none" fill-rule="evenodd")
          g(transform="translate(-1181.000000, -829.000000)" stroke="#F7F7F7" stroke-width="15")
            path(d="M1188.68466,837.395371 L1291.68466,837.395371 L1291.68466,940.395371 L1188.68466,940.395371 L1188.68466,837.395371 Z")
    div(class="parallax-container" data-depth="0.6")
      svg(class="square square--index" width="57px" height="57px" viewBox="0 0 57 57")
        g(stroke="none" stroke-width="1" fill="none" fill-rule="evenodd")
          g(transform="translate(-1193.000000, -578.000000)" fill="#4ACDD9")
            polygon(points="1193.59798 578.59798 1249.59798 578.59798 1249.59798 634.59798 1193.59798 634.59798")
    div(class="parallax-container" data-depth="0.3")
      svg(class="triangle triangle--index" width="36px" height="32px" viewBox="0 0 36 32")
        g(stroke="none" stroke-width="1" fill="none" fill-rule="evenodd")
          g(transform="translate(-1481.000000, -846.000000)" fill="#F26868")
            polygon(points="1517.01727 846.438765 1499.55309 877.94498 1481 847.067449")

block head-title
  h1
    span.first-in Evan Wu
  p
    span.sec-in Web & UI Designer

block head-sub-title
  h3
    span.third-in Better design, better experiences.

block content
  section.section.gray
    .section__inner
      .section-title SERVICE SPECTRUM
      .section-content
        .row.row-stretch
          .col-4.col-pd-p-12
            .service
              img.service-img(src="../img/application.svg")
              h3.service-title
                |Web Applications
              p.service-content
                |I’ll fixed visual impact, and united products and user, design and experiences.
          .col-4.col-pd-p-12
            .service
              img.service-img(src="../img/device.svg")
              h3.service-title
                |Mobile APP Design
              p.service-content
                |Proficient in iOS, Android design, I'll take your application to a new level.
          .col-4.col-pd-p-12
            .service
              img.service-img(src="../img/edit.svg")
              h3.service-title
                |Front-End Development
              p.service-content
                |I can develop your product from visual concept to production.
  section.section#hook_project
    .section__inner
      .section-title THE PROJECTS
      .section-content
        .row
          .col-6.col-pd-p-12
            .poster
              a.poster-link(data-fancybox data-type="ajax" data-src="portfolio/im_hahamut.html" href="javascript:;")
                .poster-photo
                  img(src="../img/portfolio/shot_hahamut.jpg", alt="哈哈姆特不EY")
                .poster-info
                  h3 哈哈姆特不EY
                  p A instant messaging app designed for ACG lovers
          .col-6.col-pd-p-12
            .poster
              a.poster-link
                .poster-photo(data-fancybox data-type="ajax" data-src="portfolio/GL.html" href="javascript:;")
                  img(src="../img/portfolio/shot_GL.jpg", alt="GL")
                .poster-info
                  h3 General Ledger
                  p Web application for accounting system
          .col-6.col-pd-p-12
            .poster
              a.poster-link
                .poster-photo(data-fancybox data-type="ajax" data-src="portfolio/radar.html" href="javascript:;")
                  img(src="../img/portfolio/shot_radar.jpg", alt="Radar")
                .poster-info
                  h3 Radar
                  p A human resources information system (HRIS)
          .col-6.col-pd-p-12
            .poster
              a.poster-link
                .poster-photo(data-fancybox data-type="ajax" data-src="portfolio/visual-design.html" href="javascript:;")
                  img(src="../img/portfolio/shot_demo.jpg", alt="demo")
                .poster-info
                  h3 Visual design
                  p For fun
