extends _basic

block hero
  include _hero

block content
  section.section.gray
    .section__inner
      .section-title SERVICE SPECTRUM
      .section-content
        .row.row-stretch
          .col-4.col-pd-p-12
            .service
              img.service-img(src="../img/application.svg")
              h3.service-title
                |Web Applications
              p.service-content
                |I’ll fixed visual impact, and united products and user, design and experiences.
          .col-4.col-pd-p-12
            .service
              img.service-img(src="../img/device.svg")
              h3.service-title
                |Mobile APP Design
              p.service-content
                |Proficient in iOS, Android design, I'll take your application to a new level.
          .col-4.col-pd-p-12
            .service
              img.service-img(src="../img/edit.svg")
              h3.service-title
                |Front-End Development
              p.service-content
                |I can develop your product from visual concept to production.
  section.section#hook_project
    .section__inner
      .section-title THE PROJECTS
      .section-content
        .row
          .col-6.col-pd-p-12
            .poster
              a.poster-link(target="_blank" href="im_hahamut.html")
                .poster-photo
                  img(src="../img/portfolio/shot_hahamut.jpg", alt="哈哈姆特不EY")
                .poster-info
                  h3 哈哈姆特不EY
                  p A instant messaging app designed for ACG lovers
          .col-6.col-pd-p-12
            .poster
              a.poster-link(target="_blank" href="GL.html")
                .poster-photo
                  img(src="../img/portfolio/shot_GL.jpg", alt="GL")
                .poster-info
                  h3 General Ledger
                  p Web application for accounting system
          .col-6.col-pd-p-12
            .poster
              a.poster-link(target="_blank" href="radar.html")
                .poster-photo
                  img(src="../img/portfolio/shot_radar.jpg", alt="Radar")
                .poster-info
                  h3 Radar
                  p A human resources information system (HRIS)
          .col-6.col-pd-p-12
            .poster
              a.poster-link(target="_blank" href="visual-design.html")
                .poster-photo
                  img(src="../img/portfolio/shot_demo.jpg", alt="demo")
                .poster-info
                  h3 Visual design
                  p For fun
