extends _basic-portfolio

block header
  a.logo-link(href="index.html")
    .logo
      img(src="../img/logo.svg")

block content
  p.port-content__info Visual exploration, Daily UI and Side project
  h3.port-content__subtile Credit card checkout
  img(src="../img/portfolio/credit-card-checkout800x600.png")
  h3.port-content__subtile Landing page
  img(src="../img/portfolio/landing-page800x600.png")
  h3.port-content__subtile Music player
  img(src="../img/portfolio/MusicPlayer-800x600.png")
  h3.port-content__subtile User profile
  img(src="../img/portfolio/user-profile-800x600.jpeg")
  h3.port-content__subtile 404 page
  img(src="../img/portfolio/404-en-800x600.jpeg")
