// *************************************
//
//   footer
//
// *************************************

.footer {
  background: $c-brand;
  &__inner {
    padding: 40px 0;
    margin: 0 auto;
    max-width: 1200px;
    text-align: center;
    color: $c-white;
    @include bp(desktop) {
      max-width: 1080px;
    }
  }
  .nav__link {
    color: $c-white;
    &:hover {
      color: darken($c-brand, 45%);
    }
  }
}

.copyright {
  padding: 16px 0 0;
}