// *************************************
//
//   header
//   -> header setting
//
// *************************************

// -------------------------------------
//   header basic
// -------------------------------------

.header {
  position: fixed;
  z-index: z(fix);
  padding: 32px 0 0;
  width: 100%;
  box-sizing: border-box;
  background-color: transparent;
  transition: padding 240ms ease-out;
  &.is-scroll {
    padding: 0;
    background-color: rgba($c-white, .9);
    box-shadow: 0 1px 6px rgba(0, 0, 0, .08);
  }
  &.open-menu {
    background-color: rgba($c-white, .98);
    box-shadow: 0 1px 6px rgba(0, 0, 0, .08);
    transition: all 300ms ease-out;
    .nav--header {
      display: flex;
      transform: translate3d(0, 0, 0);
      animation: fade-in-down 300ms ease-out;
      @include bp(pad-portrait) {
        width: 100%;
      }
    }
  }
  &__inner {
    position: relative;
    display: flex;
    align-items: flex-start;
    margin: 0 auto;
    padding: 10px 16px;
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
    @include bp(desktop) {
      max-width: 1080px;
    }
    @include bp(pad-portrait) {
      flex-direction: column;
    }
  }
}


// -------------------------------------
//   logo
// -------------------------------------

.logo-link {
  display: block;
}

.logo {
}


// -------------------------------------
//   nav
// -------------------------------------

.nav {
  display: flex;
  align-items: center;
  &--header {
    margin-left: auto;
    @include bp(pad-portrait) {
      display: none;
      flex-direction: column;
      align-items: stretch;
      margin-left: initial;
      padding-top: 16px;
    }
  }
  &--center {
    justify-content:center;
    @include bp(pad-portrait) {
      .nav__link {
        padding: 12px 14px;
      }
    }
  }
  &__item {
    display: inline-block;
    font-size: 18px;
  }
  &__link {
    display: block;
    padding: 12px 16px;
    color: $nav-link;
    &:hover {
      color: $nav-link-hover;
      transition: color 200ms ease-in;
    }
  }
}

.nav-ctrl-btn {
  position: absolute;
  top: 12px;
  right: 16px;
  z-index: z(default);
  display: block;
  vertical-align: middle;
  height: 44px;
  border: none;
  background: transparent;
  cursor: pointer;
  &:focus {
    outline: 0;
  }
}

// -------------------------------------
//   utility
// -------------------------------------

.burg {
  position: relative;
  display: none;
  width: 20px;
  height: 3px;
  transition: .2s;
  background: $c-gray;
  border: none;
  border-radius: 2px;
  &:before {
    content: '';
    position: absolute;
    top: -6px;
    left: 0;
    width: 20px;
    height: 3px;
    background: $c-gray;
    transition: .2s;
    border-radius: 2px;
  }
  &:after {
    content: '';
    position: absolute;
    top: 6px;
    left: 0;
    width: 20px;
    height: 3px;
    background: $c-gray;
    transition: .2s;
    border-radius: 2px;
  }
  @include bp(pad-portrait) {
    display: block;
  }
}

.activeBurg {
  background: transparent;
  &:before {
    top: 0;
    transform: rotate(45deg);
    background: $c-brand;
  }
  &:after {
    top: 0;
    transform: rotate(-45deg);
    background: $c-brand;
  }
}