// *************************************
//
//   header
//   -> header setting
//
// *************************************

// -------------------------------------
//   header basic
// -------------------------------------

.header {
  position: fixed;
  z-index: z(fix);
  padding: 32px 16px 0;
  width: 100%;
  box-sizing: border-box;
  background-color: transparent;
  transition: padding 100ms ease-in;
  &.is-scroll {
    padding: 0 16px;
    background-color: rgba($c-white, .9);
  }
}

.head-inner {
  display: flex;
  margin: 0 auto;
  padding: 10px 0;
  width: 100%;
  max-width: 1200px;
  @include bp(desktopHD) {
    max-width: 1200px;
  }
}


// -------------------------------------
//   logo
// -------------------------------------

.logo-link {
  display: block;
}

.logo {
}


// -------------------------------------
//   nav
// -------------------------------------

.nav {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.nav-item {
  display: inline-block;
  font-size: 18px;
  & + & {
    margin-left: 18px;
  }
}

.nav-item-link {
  color: $nav-link;
  &:hover {
    color: $nav-link-hover;
  }
}