// *************************************
//
//   hero
//   -> hero setting
//
// *************************************

// -------------------------------------
//   base
// -------------------------------------

.hero {
  position: relative;
  z-index: z(below);
  display: flex;
  align-items: center;
  height: 96vh;
  font-size: 0;
  text-align: center;
  box-sizing: border-box;

  &__inner {
    display: inline-block;
    margin: 0 auto;
    padding: 30vh 16px 0;
    width: 100%;
    max-width: 1200px;
    text-align: left;
    color: $c-sub-text;
    vertical-align: middle;
    box-sizing: border-box;
    @include bp(desktop) {
      max-width: 1080px;
    }
  }
}


// ----- hero title ----- //

.hero-title {
  position: relative;
  z-index: z(default);
  margin-bottom: 20px;
  @include bp(pad-portrait) {
    margin-bottom: 8px;
  }
  &::before {
    content: "";
    position: absolute;
    top: -24px;
    left: 0;
    width: 0;
    height: 10px;
    background: $c-primary;
    animation: title-deco 800ms ease-out forwards;
  }
  h1, p {
    font-size: 56px;
    font-weight: 600;
    line-height: 1.3;
    overflow: hidden;
    @include bp(pad-portrait) {
      font-size: 48px;
    }
    @include bp(phone-middle) {
      font-size: 32px;
    }
  }
}

.hero-sub-title {
  position: relative;
  z-index: z(default);
  h3 {
    overflow: hidden;
    font-size: 21px;
    font-weight: 400;
    line-height: 1.5;
  }
}

.first-in {
  display: block;
  transform: translateY(100px);
  animation: title-show 1.6s ease-out forwards;
}

.sec-in {
  display: block;
  transform: translateY(100px);
  animation: title-show 1.6s ease-out 600ms forwards;
}

.third-in {
  display: block;
  transform: translateY(100px);
  animation: title-show 1.6s ease-out 1200ms forwards;
}

// ----- hero bg ----- //

.hero-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  overflow: hidden;

  &__inner {
    justify-content: center;
    width: 100%;
    height: 100%;
  }
}

.parallax-container {
  height: 100%;
  width: 100%;
}

.square-line-1 {
  position: absolute;
  transform: rotate(45deg);
  &--index {
    top: -20%;
    left: -5%;
  }
}

.square-line-2 {
  position: absolute;
  transform: rotate(45deg);
  &--index {
    right: 15%;
    bottom: -10%;
  }
  &--about {
    right: -5%;
    bottom: 10%;
  }
}

.square-line-3 {
  position: absolute;
  transform: rotate(45deg);
  &--about {
    top: 10%;
    right: 24%;
  }
}

.square-line-4 {
  position: absolute;
  transform: rotate(45deg);
  &--about {
    top: 20%;
    left: -5%;
  }
}

.square {
  position: absolute;
  transform: rotate(45deg);
  &--index {
    right: 18%;
    bottom: 40%;
  }
  &--about {
    right: 9%;
    bottom: 30%;
  }
}

.triangle {
  position: absolute;
  &--index {
    right: 5%;
    bottom: 15%;
  }
  &--about {
    left: 35%;
    bottom: 5%;
  }
}

// ----- hero scroll tip ----- //

.scroll-tip {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: z(default);
  height: 30px;
  font-size: 20px;
  color: $c-brand;
  text-align: center;
  & > [class ~="fa-chevron-down"] {
    animation: scroll-loop 1000ms ease-in infinite;
  }
}


// ----- keyframes ----- //

@keyframes scroll-loop {
  0% {
    transform: translate3d(0 , 0, 0);
    color: $c-brand;
  }
  50% {
    transform: translate3d(0 , 8px, 0);
    color: darken($c-primary, 20%);
  }
  100% {
    transform: translate3d(0 , 0, 0);
    color: $c-brand;
  }
}

@keyframes title-deco {
  0% {
    width: 0;
  }
  100% {
    width: 80px;
  }
}

@keyframes title-show {
  0%, 74% {
    transform: translateY(100%);
  }
  93%, 100% {
    transform: translateY(0);
  }
}