// *************************************
//
//   list style
//
// *************************************

// -------------------------------------
//   square
// -------------------------------------

.ls-bullet {
  list-style-image: url(../../img/ic_square.svg);
  list-style-position: outside;
  li {
    margin-left: 16px;
  }
}