// *************************************
//
//   poster
//   -> project and product album
//
// *************************************

.poster {
  margin: 0 8px 8px;
}

.poster-link {
  display: block;
  padding: 8px;
  &:hover {
    background: $c-white;
    border-radius: 4px;
    box-shadow: 0 16px 36px rgba($c-black, .1);
    transition: all 300ms ease-in;
    transform: translate3d(0, -8px, 0);
  }
}

.poster-photo {
  position: relative;
  padding-top: 75%;
  background-color: lighten($c-gray-light, 20%);
  img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
  }
}

.poster-info {
  padding: 15px 0;  
}