// *************************************
//
//   section
//   -> section setting
//
// *************************************

.section {
  padding: 100px 0;
  background-color: $c-section;
  &.gray {
    background-color: $c-section-gray; 
  }
  &__inner {
    margin: 0 auto;
    padding: 0 16px;
    box-sizing: border-box;
    @include bp(desktopHD) {
      max-width: 1200px;
    }
    @include bp(desktop) {
      max-width: 1080px;
    }
  }
}

.section-title {
  margin-bottom: 40px;
  font-size: 32px;
  line-height: 1;
  color: $c-text;
}