// *************************************
//
//   section
//   -> section setting
//
// *************************************

.section {
  padding: 100px 0;
  background-color: $c-section;
  &.gray {
    background-color: $c-section-gray; 
  }
}

.section-inner {
  margin: 0 auto;
  @include bp(desktopHD) {
    max-width: 1200px;
  }
}

.section-title {
  margin-bottom: 40px;
  font-size: 32px;
  line-height: 1;
  color: $c-text;
}