// *************************************
//
//   service
//   -> service spectrum
//
// *************************************

.service {
  margin: 0 8px 8px;
  padding: 24px;
  height: 100%;
  text-align: center;
  background: darken($c-section-gray, 2.5%);
  border-radius: 4px;
  box-sizing: border-box;
  @include bp(pad-portrait) {
    margin: 0 8px;
    padding: 12px 0;
    text-align: left;
    background: transparent;
  }
  @include bp(phone-middle) {
    margin: 0 8px;
  }
}

.service-img {
  margin-bottom: 35px;
  @media screen and (max-width: 960px ){
    width: 100%;
  }
  @include bp(pad-portrait) {
    width: 150px;
    float: left;
  }
  @include bp(phone-middle) {
    display: none;
  }
}

.service-title {
  margin-bottom: 24px;
  font-size: $font-size-large;
  font-weight: 600;
  color: $c-text;
  @include bp(pad-portrait) {
    margin-bottom: 12px;
    margin-top: 16px;
    margin-left: 166px;
  }
  @include bp(phone-middle) {
    margin-top: 0;
    margin-left: 0;
  }
}

.service-content {
  font-size: $font-size-base;
  font-weight: 400;
  line-height: 1.4;
  color: $c-sub-text;
  @include bp(pad-portrait) {
    margin-left: 166px;
  }
  @include bp(phone-middle) {
    margin-top: 0;
    margin-left: 0;
  }
}
