// *************************************
//
//   service
//   -> service spectrum
//
// *************************************

.service {
  padding: 24px;
  height: 100%;
  text-align: center;
  background: darken($c-section-gray, 2.5%);
  border-radius: 4px;
  box-sizing: border-box;
}

.service-img {
  margin-bottom: 35px;
  @include bp(pad-portrait) {
    width: 100%;
  }
}

.service-title {
  margin-bottom: 25px;
  font-size: $font-size-large;
  font-weight: 600;
  color: $c-text;
}

.service-content {
  font-size: $font-size-base;
  font-weight: 400;
  line-height: 1.4;
  color: $c-sub-text;
}
