// *************************************
//
//   layout
//   -> layout setting
//
// *************************************

// -------------------------------------
//   wrap
// -------------------------------------

.wrap {
  position: fixed;
  z-index: z(default);
  height: 100%;
  width: 100%;
}



// ----- square line ----- //

.bg-sq-line-1 {
}
.bg-sq-line-2 {
}
.bg-sq-line-3 {
}
.bg-sq-line-4 {
}


// ----- square ----- //

.bg-sq {
}


// ----- triangle ----- //

.bg-triangle {
}